/* HEADER SECTION */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgba(32, 47, 56, 0.9), rgba(32, 47, 56, 0.95)), url("header_background.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.outer-box {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.inner-box {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: #EDAE14 5px solid;
}

header hr {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #FFF;
    font-size: 40pt;
}

h2 {
    color: #EDAE14;
    font-style: italic;
    font-size: 16pt;
}

header a {
    margin-top: 7%;
}

header a button {
    border-radius: 4px;
    background: #FFF !important;
    border: none;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;
    padding: 20px;
    width: 250px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

header a button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

header a button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

header a button:hover span {
    padding-right: 25px;
}

header a button:hover span:after {
    opacity: 1;
    right: 0;
}